.myButton {
	
	background-color:#16a085;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #16a085;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:large;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background-color:#ffffff;
    color:#021a35;
    -moz-box-shadow: -1px 3px 6px 1px #bdc3c7;
	-webkit-box-shadow: -1px 3px 6px 1px #bdc3c7;
	box-shadow: -1px 3px 6px 1px #bdc3c7;
    border:1px solid #bdc3c7;
}
.myButton:active {
	position:relative;
	top:1px;
}
.cstm_size {
font-size:smaller;
font-style:italic;
}