#loader-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#loader{
	display: block;
	position: relative;
	left: 50%;
	top:50%;
	width: 60px;
	height: 60px;
    z-index: 1001;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	border:2px solid transparent;
	border-top-color: #16a085;
	 -webkit-animation: spin linear 1.5s infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin linear 1.5s infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before{
	content:"";
	position: absolute;
	top: 2px;
	left:2px;
	right: 2px;
	bottom:2px;
	border-radius: 50%;
	border:2px solid transparent;
	border-top-color: #34495e;
	 -webkit-animation: spin linear 2.5s infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin linear 2.5s infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#image-wrapper{
    display: block;
	position: absolute;
	left: 50%;
	top:50%;
	width: 45px;
	height: 45px;
     z-index: 1001;
	margin: -22px 0 0 -22px;
}
@-webkit-keyframes spin {
  0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
     	 -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera*/ 
  }
  
  100% { 
  	-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
     	 -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera*/ 
   }
}
@-moz-keyframes spin {
  0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
     	 -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera*/ 
  }
  
  100% { 
  	-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
     	 -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera*/ 
   }
}
@-o-keyframes spin {
  0%   { 
-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
     	 -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera*/ 
  }
  100% { 
-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
     	 -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera*/ 
  }
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #E7E7E7;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}
#next-content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader {
    opacity: 0;
}
.loaded #loader-wrapper {
    visibility: hidden;
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);

}
.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 0.7s ease-out; 
                transition: all 0.3s 0.7s ease-out;
}
.no-js #loader-wrapper {
    display: none;
}
