<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 footer-alllinks">
                    <h4 class="m-b-20">Quick Links</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="footer-custom">
                                <li><a href="en/home/about.html">Company</a></li>
                                <li><a href="en/home/about.html">About Us</a></li>
                                <li><a href="en/home/contact.html">Contact Us</a></li>
                                <li><a href="en/home/askexpert-2.html">Ask Our Experts</a></li>
                                <li><a href="en/home/howitworks-2.html">How it Works</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="footer-custom">
                                <li><a href="en/home/privacy.html">Privacy Policy</a></li>
                                <li><a href="en/home/terms.html">Terms of Use</a></li>
                                <li><a href="en/home/faq.html">FAQ</a></li>
                                <li><a href="en/home/career.html">Careers</a></li>
                                <li><a href="blog/index.html">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center footer-newsletter">
                    <h4 class="m-b-10 text-left ">Subscribe to Our Newsletter</h4>
                    <h6 class="text-left m-t-0"><i>We won&#39;t spam you! We promise!</i></h6>
                    <div class="input-group newsletterwrap" style="margin-bottom: 10%; width: 75%;">
                        <input type="text" id="newsletterId" placeholder="Enter your Email Address" required="required" class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-newsl " onclick="registerID()">Submit</button>
                        </span>
                    </div>
                    <div style="float: left;" class="fb-like" data-href="https://www.facebook.com/finmitra" data-width="355" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center ">
                    <h4 class="m-b-10 text-left sharelinkhead">Connect With Us</h4>
                    <ul class="navbar-right-icons-footer text-left m-t-20">
                        <li><i class="fa fa-twitter"></i><a href="https://twitter.com/fin_mitra" target="_blank">Follow us on Twitter </a></li>
                        <li><i class="fa fa-facebook"></i><a href="https://www.facebook.com/finmitra/" target="_blank">Like us on Facebook </a></li>
                        <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/company/finmitra" target="_blank">Connect with us on LinkedIn </a></li>
                        <li><i class="fa fa-google-plus"></i><a href="https://plus.google.com/109951089483684037846" target="_blank">Follow us on Google Plus </a></li>
                        <li><i class="fa fa-tumblr"></i><a href="#" target="_blank">Connect with us on Tumblr </a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 m-t-20 footerbottom">
                    <p class="text-center disclamtext">Mutual fund investments are subject to market risks. Please read the scheme information and other related documents carefully before investing. Past performance is not indicative of future returns. Please consider your specific investment requirements before choosing a fund, or designing a portfolio that suits your needs.</p>
                    <p class="text-center disclamtext">FinMitra Finance and Management Solutions Pvt Ltd (with ARN code 103332) makes no warranties or representations, express or implied, on products offered through the platform. It accepts no liability for any damages or losses, however caused, in connection with the use of, or on the reliance of its product or related services. Terms and conditions of the website are applicable.</p>
                    <p class="text-center disclamtextcode"><a href="{{ base_url() }}/assets/Content/themes/img/Certificate%20of%20Registration%20as%20AMFI%20registered%20advisor.pdf" target="_blank">ARN – 103332</a></p>
                    <p class="text-center">Copyright &#169; 2016 FinMitra Finance and Management Solutions Pvt Ltd</p>
                </div>
            </div>
        </div>
    </footer>